[submodule "Xabbo.Common"]
	path = Xabbo.Common
	url = https://www.github.com/b7c/Xabbo.Common
[submodule "Xabbo.Core"]
	path = Xabbo.Core
	url = https://www.github.com/b7c/Xabbo.Core
[submodule "Xabbo.GEarth"]
	path = Xabbo.GEarth
	url = https://www.github.com/b7c/Xabbo.GEarth
[submodule ".\\Xabbo.Messages"]
	path = .\\Xabbo.Messages
	url = https://www.github.com/b7c/Xabbo.Messages
[submodule "roslynpad"]
	path = roslynpad
	url = https://github.com/roslynpad/roslynpad
